.logo-page {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    margin-bottom: 2em;
  }
  
.logo-empresa {
    width: 10em;
    height: 10em;
    background-image: url("icons/logoempresa.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain; /* Para ajustar el tamaño del logo sin deformarlo */
    padding: 9.5em;
    animation: levitate 2s ease-in-out infinite alternate;
  }


@keyframes levitate {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }

  
  

  