.page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em; /* Ajusta el margen superior según tus necesidades */
  }
  
  /* Resto de tus estilos */
  